@model E_MarcheWA.Models.PanierData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PanierData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PanierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PanierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixArticle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommandeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommandeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PanierId }) |
    <a asp-action="Index">Back to List</a>
</div>
